* {
  padding: 0;
  margin: 0;
}

body {

position: relative;
/* width: 90%;
height: 1080px;*/

background: #FFFFFF;
}

#wrapper {

position: absolute;
width: 100%;
height: 1075px;
left: 0px;
top: 70px;

background: #FAFAFA;
}

a {
	text-decoration: none;
}

.nav {

position: absolute;
width: 100%;
height: 70px;
left: 0px;
top: 0px;

background: #000000;
}

a.active {

position: absolute;
width: 182px;
height: 42px;
left: 1280px;
top: 14px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;
}


a.about {

position: absolute;
width: 96px;
height: 42px;
left: 1480px;
top: 14px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;
}


a.contact {

position: absolute;
width: 126px;
height: 42px;
left: 1678px;
top: 14px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;
}


a.honor {

position: absolute;
width: 145px;
height: 56px;
left: 82px;
top: 7px;

font-family: Roboto Mono;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;
}

div#wrapper h1 {


position: absolute;
width: 914px;
height: 150px;
left: 503px;
top: 50px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 75px;

color: #000000;

}


img#Pic1 {

position: absolute;
width: 350px;
height: 350px;
left: 185px;
top: 190px;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

img#Pic4 {

position: absolute;
width: 350px;
height: 350px;
left: 185px;
top: 660px;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

img#Pic2 {

position: relative;
width: 350px;
height: 350px;
left: 785px;
top: 190px;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

img#Pic5 {

position: absolute;
width: 350px;
height: 350px;
left: 785px;
top: 660px;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

img#Pic3 {

position: absolute;
width: 350px;
height: 350px;
left: 1385px;
top: 190px;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

img#Pic6 {

position: absolute;
width: 350px;
height: 350px;
left: 1385px;
top: 660px;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

figcaption#Fig1 {

position: absolute;
width: 350px;
height: 80px;
left: 185px;
top: 460px;

background: rgba(0, 0, 0, 0.85);
}

figcaption#Fig4 {

position: absolute;
width: 350px;
height: 80px;
left: 185px;
top: 930px;

background: rgba(0, 0, 0, 0.85);
}

figcaption#Fig5 {

position: absolute;
width: 350px;
height: 80px;
left: 785px;
top: 930px;

background: rgba(0, 0, 0, 0.85);
}

figcaption#Fig6 {

position: absolute;
width: 350px;
height: 80px;
left: 1385px;
top: 930px;

background: rgba(0, 0, 0, 0.85);
}

figcaption#Fig2 {

position: absolute;
width: 350px;
height: 80px;
left: 785px;
top: 460px;

background: rgba(0, 0, 0, 0.85);
}

figcaption#Fig3 {

position: absolute;
width: 350px;
height: 80px;
left: 1385px;
top: 460px;

background: rgba(0, 0, 0, 0.85);
}

figcaption#Fig1 {

position: absolute;
width: 273px;
height: 28px;
left: 227px;
top: 486px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}


figcaption#Fig2 {

position: absolute;
width: 163px;
height: 28px;
left: 875px;
top: 486px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}


figcaption#Fig5 {

position: absolute;
width: 141px;
height: 28px;
left: 889px;
top: 956px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}


figcaption#Fig6 {

position: absolute;
width: 294px;
height: 28px;
left: 1414px;
top: 956px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}


figcaption#Fig4 {

position: absolute;
width: 271px;
height: 56px;
left: 224px;
top: 942px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #FFFFFF;
}


figcaption#Fig3 {

position: absolute;
width: 292px;
height: 28px;
left: 1414px;
top: 486px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}

p#context {

position: absolute;
width: 837px;
height: 378px;
left: 1003px;
top: 366px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #000000;


}

h2#summary {

position: absolute;
width: 208px;
height: 56px;
left: 1318px;
top: 273px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;

color: #000000;


}

h2#header {

position: absolute;
width: 728px;
height: 75px;
left: 596px;
top: 122px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 75px;
/* identical to box height */

color: #000000;
}


h3#org {

position: absolute;
width: 265px;
height: 28px;
left: 827px;
top: 197px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;


}

img#campaignimage {

position: absolute;
width: 800px;
height: 500px;
left: 83px;
top: 290px;

background: url(image.png);
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

div#formRaised {

position: absolute;
width: 802px;
height: 150px;
left: 82px;
top: 837px;

background: #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p#raisedAmount {
position: absolute;
width: 269px;
height: 42px;
left: 109px;
top: 856px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;


}

p#raisedGoal {

position: absolute;
width: 201px;
height: 94px;
left: 626px;
top: 865px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;
text-align: center;

color: #FFFFFF;

}

p#donationsAmount {

position: absolute;
width: 169px;
height: 28px;
left: 109px;
top: 952px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}

div#progressBarFull {

position: absolute;
width: 210px;
height: 30px;
left: 109px;
top: 912px;

background: #FF3030;
}

div#progressBarEmpty {

position: absolute;
width: 417px;
height: 30px;
left: 109px;
top: 912px;

background: #FFFFFF;


}

#donateButton {

position: absolute;
width: 350px;
height: 100px;
left: 1247px;
top: 848px;

background: #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);


font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;

}

div#about {

position: absolute;
width: 1300px;
height: 850px;
left: 310px;
top: 150px;

background: #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

}

h2#aboutHead {

position: absolute;
width: 751px;
height: 127px;
left: 584px;
top: 266px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 75px;
text-align: center;

color: #FFFFFF;

}

p#aboutText {


position: absolute;
width: 1119px;
height: 504px;
left: 400px;
top: 458px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #FFFFFF;




}